# running into fasttext incompatibility issues with numpy >= 2.0
#ValueError: Unable to avoid copy while creating an array as requested.
#If using `np.array(obj, copy=False)` replace it with `np.asarray(obj)` to allow a copy when needed (no behavior change in NumPy 1.x).
#For more details, see https://numpy.org/devdocs/numpy_2_0_migration_guide.html#adapting-to-changes-in-the-copy-keyword.
numpy < 2.0.0
pyarrow<=17.0.0
# Later version 1.38.7 is breaking authentication. 
# check compatibility with other applications that depend on botocore(DMF, DSift, etc.)
boto3<=1.38.18
mmh3
psutil
polars>=1.9.0
transformers
fasttext-wheel
huggingface-hub >= 0.21.4, <1.0.0
python-json-logger
